Load dataset

In [4]:
import pandas as pd

df = pd.read_csv('../data/processed/vehicle-data-feed-prophet-model.csv')
df.head()

                    ds     y
0  2024-01-01 00:00:00  1395
1  2024-01-01 01:00:00  1292
2  2024-01-01 02:00:00   957
3  2024-01-01 03:00:00   559
4  2024-01-01 04:00:00   329

In [5]:
df['ds'] = pd.to_datetime(df['ds']) # convert ds object into datetime type
df.dtypes

ds    datetime64[ns]
y              int64
dtype: object

Train your prophet model by feeding your dataset

In [ ]:
from prophet import Prophet

m = Prophet()
m.fit(df) # train the modl

12:36:10 - cmdstanpy - INFO - Chain [1] start processing
12:36:12 - cmdstanpy - INFO - Chain [1] done processing

Genearate Future Prediction

In [8]:
# generate future prediction with 1hr interval
future = m.make_future_dataframe(periods=24*365, freq='H')
forecast = m.predict(future)

c:\Users\imper\Documents\capstone-project-v2\.venv\Lib\site-packages\prophet\forecaster.py:1872: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range(

In [11]:
forecast.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
17539,2025-12-31 19:00:00,3023.516921,266.311118,5205.474518,2740.347808,3328.655088,-468.257864,-468.257864,-468.257864,-529.761471,-529.761471,-529.761471,61.503607,61.503607,61.503607,0.0,0.0,0.0,2555.259057
17540,2025-12-31 20:00:00,3023.491979,124.185545,5102.900275,2740.289056,3328.638030,-427.089336,-427.089336,-427.089336,-487.546148,-487.546148,-487.546148,60.456812,60.456812,60.456812,0.0,0.0,0.0,2596.402643
17541,2025-12-31 21:00:00,3023.467037,279.398760,5274.505504,2740.230303,3328.620972,-294.669740,-294.669740,-294.669740,-354.603284,-354.603284,-354.603284,59.933544,59.933544,59.933544,0.0,0.0,0.0,2728.797298
17542,2025-12-31 22:00:00,3023.442096,180.706173,5413.991280,2740.171551,3328.603913,-114.947066,-114.947066,-114.947066,-174.869870,-174.869870,-174.869870,59.922805,59.922805,59.922805,0.0,0.0,0.0,2908.495030
17543,2025-12-31 23:00:00,3023.417154,461.116860,5766.297829,2740.112799,3328.586855,59.694869,59.694869,59.694869,-0.712286,-0.712286,-0.712286,60.407154,60.407154,60.407154,0.0,0.0,0.0,3083.112022