DATA CLEANING
 - REMOVING UNNECESSARY COLUMNS
 - RENAMING COLUMNS
 - CONVERTING DATE OBJECT INTO DATE TYPE
 - DROPING EXTRA RAWS
 - REMOVING NULL ROWS
 - EDITING DATE AND HOURS ENTRY

In [64]:
import pandas as pd

df = pd.read_csv('../data/raw/vehicle-volume-data-feed-prophet-model.csv')

Removing unnecessary columns
Drop the columns that are unnecessary by prophet model

Columns:
 - holiday               
 - temp                 
 - rain_1h              
 - snow_1h              
 - clouds_all             
 - weather_main          
 - weather_description

In [65]:
df.drop(columns=['holiday', 'temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main', 'weather_description'], inplace=True)

Renaming columns
 - date_time -> ds (timestamp): This will serve as x-axis
 - traffic_volume -> y (vehicle_count): This will serve as y-axis

In [66]:
df.rename(columns={'date_time': 'ds', 'traffic_volume': 'y'}, inplace=True)

Converting date object into date type

Prophet model cannot handle date object so it must be converted into date type

In [67]:
df['ds'] = pd.to_datetime(df['ds'], dayfirst=True)

Data loading

Droping extra rows

Prophet model can become highly accurate when making a Traffic Time Series Forecasting when fed with 1yr set of data.
Our raw data, specifically in ds (date_time) includes hour, so 1 day data must have 24 rows and a year has 365 days.

24*365 = 8760 rows (must be near to this number)
but this raw data has 48k rows, so we need to drop 48203 - 8760 = 39443 rows

11134 <-> 20344

In [69]:
# Drop rows from 0 to 11133 and 20344 to 48203
df.drop(index=list(range(0, 11132)) + list(range(20344, 48204)), inplace=True)

# reset index numbering
df = df.reset_index(drop=True)

Removing rows with null value

In [70]:
(df[df.isnull().any(axis=1)]).count() # from any column, count the number of rows with null value

y     0
ds    0
dtype: int64

In [73]:
df.head()
#df.info()
#df.count() # 48k raws before processing

      y                  ds
0  1395 2014-01-01 00:00:00
1  1292 2014-01-01 01:00:00
2   957 2014-01-01 02:00:00
3   559 2014-01-01 03:00:00
4   329 2014-01-01 04:00:00

Save as CSV file

In [72]:
df.to_csv('../data/processed/vehicle-data-feed-prophet-model.csv', index=False)